mixin icon(name)
    span(class="typcn typcn-" + name)

mixin link-icon(link)
    if link.includes('twitter.com')
        a(href=link, title="Twitter")
            +icon('social-twitter')
    else if link.includes('github.com')
        a(href=link, title="Github")
            +icon('social-github')
    else if link.includes('discord.com') || link.includes('discord.gg')
        a(href=link, title="Github")
            +icon('message-typing')
    else if link.includes('youtube.com') || link.includes('youtu.be')
        a(href=link, title="YouTube")
            +icon('social-youtube')
    else if link.includes('modrinth.com') || link.includes('steamcommunity.com')
        a(href=link, title="Modrinth")
            +icon('spanner')
    else if link.includes('curse.com') || link.includes('curseforge.com')
        a(href=link, title="CurseForge")
            +icon('download')
    else if link.includes('itch.io')
        a(href=link, title="itch.io")
            +icon('shopping-bag')
    else if link.includes('ssblur.com') || link.includes('blur.gay') || link.includes('pemery.co') || link.startsWith("/")
        a(href=link, title="Project Page")
            +icon('chevron-right')
    else
        a(href=link)
            +icon('globe-outline')