mixin mail
    a(href='mailto:blur@blur.gay') blur@blur.gay

mixin youtube 
    a(href='https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA' title='YouTube')
        +icon('social-youtube')
        | YouTube

mixin discord 
    a(href='https://discord.gg/Uwbtmmb' title='Discord')
        +icon('social-discord')
        | Discord

mixin tumblr
    a(href='https://ssblur.tumblr.com' title='Tumblr')
        +icon('social-tumbler')
        | Tumblr

mixin youtube-video(title, link)
    a(href='https://www.youtube.com/watch?v=' + link, title=title).youtube-video
        img(src='https://img.youtube.com/vi/' + link + '/maxresdefault.jpg')
        p=title

mixin link(title, link)
    a(href=link title=title)
        =title
        +link-icon(link)


mixin site(title, link, comment)
    .site
        a.site-title(href=link title=title)
            =title
            span.site-details=`(${link})`
        .site-comment=comment

mixin itch(id, name="")
    iframe(
        frameborder="0", 
        src="https://itch.io/embed/" + id + "?linkback=true&border_width=0&bg_color=050505&fg_color=ffc928&link_color=ffe084&border_color=333333",
        width="550",
        height="165"
    )
        a(href="https://ssblur.itch.io/" + name) 
            =name 
            | by it's blur!